/* 通用框架 */

body{
  font-size: 15px;
}
.topbar{
  display: flex;
  height: 50px;
  align-items: center;
  background: black;
}
.topbar span{
  color: white;
  margin-left: 45px;
  font-size: 32px;
  font-weight: 250;
}
.topbar .dropdown{
  margin-left: auto;
  margin-right: 70px;
}

.topbar button{
  background: black;
  margin: 0;
  border-radius: 6px;
  padding: 8px 17px;
  border: 0.5px solid black;
  color: white;
}

.main-container{
  display: flex;
  min-height: calc( 100vh - 50px );
}
.container-left{
  flex: 1.3;
  background: #1C2B36;
}
.container-left li a{
  color: white;
  display: flex;
  align-items: center;
}
.container-left li a span{
  font-weight: 200;
  margin-left: 10px;
}
.nav.nav-stacked li.active a{
  background: #578EBE;
}
.container-right{
  flex: 8;
}
.container-right .panel-body{
  padding: 30px;
}
.pro-list-body form input[type=submit],.kno-list-body form input[type=submit],
.cs-list-body form input[type=submit],.que-list-body form input[type=submit]{
  font-size: 16px;
  color: white;
  background: #578EBE;
}
.glyphicon{
  top: 0;
}

/* co-manage-center */

.row-flex{
  display: flex;
  margin-bottom: 30px;
}
.inform-block{
  flex: 1;
  height: 148px;
  background: black;
  margin: 0 30px 0 0;
  display: flex;
  flex-direction: column;
}
.inform-block-top{
  width: 100%;
  display: flex;
  padding: 10px;
}
.inform-block-top img{
  width: 85px;
  height: 80px;
  margin-right: 10px;
}
.inform-block-top .inform-block-detail{
  flex: 1;
}
.inform-block-top p{
  height: auto;
  color: white;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}
.inform-block-top a{
  display: block;
  height: auto;
  color: white;
  font-size: 46px;
  font-weight: 400;
  text-align: center;
}
.inform-block-top p:nth-child(2){
  padding-bottom: 0;
  height: auto;
  color: white;
  font-size: 50px;
  font-weight: 400;
}
.inform-block-footer{
  margin-top: auto;
  width: 96px;
  height: 40px;
  background: rgba(0,0,0,.1);
  display: flex;
  align-items: center;
}
.inform-block-footer a{
  margin: auto;
  color: white;
  font-size: 14px;
  font-weight: 400;

}
.inform-block:nth-child(1){
  background: #8674A6;
}
.inform-block:nth-child(2){
  background: #43B5AD;
}
.inform-block:nth-child(3){
  background: #578EBE;
}
.inform-block:nth-child(4){
  background: #DEB948;
  margin-right: 0;
}

.pro-block{
  height: 180px;
  flex: 1;
  margin-right: 30px;
}
.pro-block:nth-child(1){
  background: #DEB948;
}
.pro-block:nth-child(2){
  background: #43B5AD;
}
.pro-block:nth-child(3){
  background: #E25A59;
}
.pro-block:nth-child(4){
  background: #8674A6;
}
.pro-block:nth-child(5){
  background: #DEB948;
}
.pro-block:nth-child(6){
  background: #578EBE;
  margin-right: 0;
}
.pro-block-top{
  padding: 8px 0;
  background: rgba(255,255,255,0.2);  
  text-align: center;
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.pro-block a{
  display: block;
  text-align: center;
  margin-top: 55px;
  color: white;
  font-size: 65px;
  font-weight: 400;
}

/*co-manage-bill */

.bill-list{
  border: 2px solid #578EBE;
  width: 60%;
}
.bill-list-heading{
  background: #578EBE;
  padding: 10px;
  display: flex;
  align-items: center;
  color: white;
}
.bill-list-heading span{
  line-height: 18px;
  font-size: 16px;
}
.bill-list-heading span.break{
  border-left: 1px solid #FFF;
  margin: -12px 10px -12px 10px;
  padding: 30px 0px 10px 0px;
}
.bill-list-body > p{
  margin: 12px 10px 12px 10px;
  line-height: 18px;
  font-size: 16px;
}
.bill-list-body form{
  margin: 10px 0 10px 20px;
}

.bill-list-body .table{
  width: 98%;
  margin: 10px auto;
}
.bill-list-body .table > thead > tr{
  display: flex;
}
.bill-list-body .table > thead > tr > th:nth-child(1){
  flex:1;
}
.bill-list-body .table > thead > tr > th:nth-child(2){
  flex:2;
}
.bill-list-body .table > thead > tr > th:nth-child(3){
  flex:2;
}
.bill-list-body .table > thead > tr > th:nth-child(4){
  flex:1;
}
.bill-list-body .table > thead > tr > th:nth-child(5){
  flex:1;
}
.bill-list-body .table > thead > tr > th{
  color: black;
  font-weight: bold;
  background: white;
}
.bill-list-body .table > tbody > tr{
  display: flex;
}
.bill-list-body .table > tbody > tr > td{
  color: black;
  font-weight: 400;
}
.bill-list-body .table > tbody > tr > td:nth-child(1){
  flex:1;
}
.bill-list-body .table > tbody > tr > td:nth-child(2){
  flex:2;
}
.bill-list-body .table > tbody > tr > td:nth-child(3){
  flex:2;
}
.bill-list-body .table > tbody > tr > td:nth-child(4){
  flex:1;
}
.bill-list-body .table > tbody > tr > td:nth-child(5){
  flex:1;
}
.bill-list-body .table > thead > tr > th,.table > tbody > tr > td{
  padding-top: 10px;
  padding-bottom: 10px;
}
.table-ope-icon{
  display: flex;
  justify-content: space-around;
} 
.table-ope-icon a{
  width: 30px;
  height: 30px;
  display: inline-block; 
  padding-top: 8px;
  text-align: center;
  color: white;
}
.table-ope-icon a:nth-child(1){
  background: rgb(64, 181, 173);
}
.table-ope-icon a:nth-child(2){
  background: rgb(91, 192, 222);
}
.table-ope-icon a:nth-child(3){
  background: rgb(226, 90, 89);
}
.table-ope-icon a:nth-child(4){
  background: rgb(153,108,179);
}
.bill-list-body>button{
  margin: 12px;
  font-size: 16px;
  color: white;
  background: #578EBE;
}

/* co-manage-enter */
.enter-list{
  border: 2px solid #578EBE;
  width: 30%;
}
.enter-list-heading{
  background: #578EBE;
  padding: 10px;
  display: flex;
  align-items: center;
  color: white;
}
.enter-list-heading span{
  line-height: 18px;
  font-size: 16px;
}
.enter-list-heading span.break{
  border-left: 1px solid #FFF;
  margin: -12px 10px -12px 10px;
  padding: 30px 0px 10px 0px;
}
.enter-list-body form{
  margin: 10px 0 10px 20px;
}
.enter-list-body .enter-show{
  padding: 14px;
  display: flex;
}
.enter-show-left{
  flex: 3;
  padding-right: 10px;
}
.enter-show-right{
  flex: 2.5;
}
.enter-list-body .enter-show p{
  color: black;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin-bottom: 10px;
  border-bottom: 0.5px solid rgb(240, 240, 240);
}

.enter-list-body .enter-show button{
  font-size: 16px;
  color: white;
  background: #578EBE;
  margin-top: 20px;
}
.enter-list-body>button{
  margin: 12px;
  font-size: 16px;
  color: white;
  background: #578EBE;
}
.enter-list-body .enter-add form{
  display: flex;
}
.enter-add-left{
  flex: 3;
  padding-right: 10px;
}
.enter-add-right{
  flex: 2;
  margin-right: 10px;
}
.enter-list-body .enter-add-left button{
  font-size: 16px;
  color: white;
  background: #578EBE;
}
.enter-list-body .enter-add-left input.form-button{
  font-size: 16px;
  color: white;
  background: #578EBE;
}
.enter-list-inside{
  width: 20%;
}
.enter-list-body .enter-add{
  width: 20%;
}
.enter-list-body .enter-add input[type=text],.enter-list-body .enter-add select,.enter-list-body .enter-add textarea{
  color: black;
  font-weight: 400;
}
.enter-list-body .enter-add input.form-button{
  font-size: 16px;
  color: white;
  background: #578EBE;
}

/* co-manage-pro */

.pro-list{
  border: 2px solid #578EBE;
  width: 88%;
}
.pro-list-heading{
  background: #578EBE;
  padding: 10px;
  display: flex;
  align-items: center;
  color: white;
}
.pro-list-heading span{
  line-height: 18px;
  font-size: 16px;
}
.pro-list-heading span.break{
  border-left: 1px solid #FFF;
  margin: -12px 10px -12px 10px;
  padding: 30px 0px 10px 0px;
}
.pro-list-body form{
  margin: 10px 0 10px 20px;
}

.pro-list-body .table{
  width: 98%;
  margin: 10px auto;
}
.pro-list-body .table > thead > tr{
  display: flex;
}
.pro-list-body .table > thead > tr > th:nth-child(1){
  flex:1;
}
.pro-list-body .table > thead > tr > th:nth-child(2){
  flex:2;
}
.pro-list-body .table > thead > tr > th:nth-child(3){
  flex:3;
}
.pro-list-body .table > thead > tr > th:nth-child(4){
  flex:2;
}

.pro-list-body .table > thead > tr > th{
  color: black;
  font-weight: bold;
  background: white;
}
.pro-list-body .table > tbody > tr{
  display: flex;
}
.pro-list-body .table > tbody > tr > td{
  color: black;
  font-weight: 400;
}
.pro-list-body .table > tbody > tr > td:nth-child(1){
  flex:1;
}
.pro-list-body .table > tbody > tr > td:nth-child(2){
  flex:2;
}
.pro-list-body .table > tbody > tr > td:nth-child(3){
  flex:3;
}
.pro-list-body .table > tbody > tr > td:nth-child(4){
  flex:2;
}
.pro-list-body .table > thead > tr > th,.table > tbody > tr > td{
  padding-top: 10px;
  padding-bottom: 10px;
}
.table-ope-icon{
  display: flex;
  justify-content: space-around;
} 
.table-ope-icon a{
  width: 30px;
  height: 30px;
  display: inline-block; 
  padding-top: 8px;
  text-align: center;
  color: white;
}
.table-ope-icon a:nth-child(1){
  background: rgb(64, 181, 173);
}
.table-ope-icon a:nth-child(2){
  background: rgb(91, 192, 222);
}
.table-ope-icon a:nth-child(3){
  background: rgb(226, 90, 89);
}
.table-ope-icon a:nth-child(4){
  background: rgb(153,108,179);
}
.pro-list-body>button{
  margin: 12px;
  font-size: 16px;
  color: white;
  background: #578EBE;
}

/* co-manage-pro-add */
.pro-list-body .pro-add form{
  display: flex;
}
.pro-add-left{
  flex: 3;
  padding-right: 10px;
}
.pro-add-right{
  flex: 2;
  margin-right: 10px;
}
img#pro-image-place{
  display: block;
  max-width: 100%;
}
.pro-list-body .pro-add-left button{
  font-size: 16px;
  color: white;
  background: #578EBE;
}
.pro-list-body .pro-add-left input.form-button{
  font-size: 16px;
  color: white;
  background: #578EBE;
}

/* co-manage-pro-show */
.pro-list-body .pro-show{
  padding: 14px;
  display: flex;
}
.pro-show-left{
  flex: 3;
  padding-right: 10px;
}
.pro-show-right{
  flex: 2.5;
}
.pro-list-body .pro-show p{
  color: black;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin-bottom: 10px;
  border-bottom: 0.5px solid rgb(240, 240, 240);
}

.pro-list-body .pro-show button{
  font-size: 16px;
  color: white;
  background: #578EBE;
  margin-top: 20px;
}

/* co-manage-cs */

.cs-list{
  width: 90%;
  border: 2px solid #578EBE;
}
.cs-list-heading{
  background: #578EBE;
  padding: 10px;
  display: flex;
  align-items: center;
  color: white;
}
.cs-list-heading span{
  line-height: 18px;
  font-size: 16px;
}
.cs-list-heading span.break{
  border-left: 1px solid #FFF;
  margin: -12px 10px -12px 10px;
  padding: 30px 0px 10px 0px;
}
.cs-list-body form{
  margin: 10px 0 10px 20px;
}
.cs-list-body .table{
  width: 98%;
  margin: 10px auto;
}
.cs-list-body .table > thead > tr{
  display: flex;
}
.cs-list-body .table > thead > tr > th:nth-child(1){
  flex:2;
}
.cs-list-body .table > thead > tr > th:nth-child(2){
  flex:2;
}
.cs-list-body .table > thead > tr > th:nth-child(3){
  flex:4;
}
.cs-list-body .table > thead > tr > th:nth-child(4){
  flex:3;
}
.cs-list-body .table > thead > tr > th:nth-child(5){
  flex:3;
}
.cs-list-body .table > thead > tr > th{
  color: black;
  font-weight: bold;
  background: white;
}
.cs-list-body .table > tbody > tr{
  display: flex;
}
.cs-list-body .table > tbody > tr > td{
  color: black;
  font-weight: 400;
}
.cs-list-body .table > tbody > tr > td:nth-child(1){
  flex:2;
}
.cs-list-body .table > tbody > tr > td:nth-child(2){
  flex:2;
}
.cs-list-body .table > tbody > tr > td:nth-child(3){
  flex:4;
}
.cs-list-body .table > tbody > tr > td:nth-child(4){
  flex:3;
}
.cs-list-body .table > tbody > tr > td:nth-child(5){
  flex:3;
}

.cs-list-body .table > thead > tr > th,.table > tbody > tr > td{
  padding-top: 10px;
  padding-bottom: 10px;
}
.cs-list-body button{
  margin: 14px;
  font-size: 16px;
  color: white;
  background: #578EBE;
}


/* co-manage-cs-add */
.cs-list-inside{
  width: 40%;
}
.cs-list-body .cs-add{
  width: 80%;
}
.cs-list-body .cs-add input.form-button{
  font-size: 16px;
  color: white;
  background: #578EBE;
}
/* co-manage-cs-show */
.cs-list-body .cs-show .table > thead > tr > th:nth-child(1){
  flex:2;
}
.cs-list-body .cs-show .table > thead > tr > th:nth-child(2){
  flex:3;
}
.cs-list-body .cs-show .table > thead > tr > th:nth-child(3){
  flex:3;
}
.cs-list-body .cs-show .table > thead > tr > th:nth-child(4){
  flex:3;
}
.cs-list-body .cs-show .table > thead > tr > th:nth-child(5){
  flex:3;
}

.cs-list-body .cs-show .table > tbody > tr > td:nth-child(1){
  flex:2;
}
.cs-list-body .cs-show .table > tbody > tr > td:nth-child(2){
  flex:3;
}
.cs-list-body .cs-show .table > tbody > tr > td:nth-child(3){
  flex:3;
}
.cs-list-body .cs-show .table > tbody > tr > td:nth-child(4){
  flex:3;
}
.cs-list-body .cs-show .table > tbody > tr > td:nth-child(5){
  flex:3;
}
/* co-manage-kno */
.kno-list{
  border: 2px solid #578EBE;
  width: 88%;
}
.kno-list-heading{
  background: #578EBE;
  padding: 10px;
  display: flex;
  align-items: center;
  color: white;
}
.kno-list-heading span{
  line-height: 18px;
  font-size: 16px;
}
.kno-list-heading span.break{
  border-left: 1px solid #FFF;
  margin: -12px 10px -12px 10px;
  padding: 30px 0px 10px 0px;
}
.kno-list-body form{
  margin: 10px 0 10px 20px;
}
.kno-list-body .table{
  width: 98%;
  margin: 10px auto;
}

.kno-list-body .table > thead > tr{
  display: flex;
}
.kno-list-body .table > thead > tr > th{
  color: black;
  font-weight: bold;
  background: white;
}
.kno-list-body .table > thead > tr > th:nth-child(1){
  flex:1;
}
.kno-list-body .table > thead > tr > th:nth-child(2){
  flex:1;
}
.kno-list-body .table > thead > tr > th:nth-child(3){
  flex:1.5;
}
.kno-list-body .table > thead > tr > th:nth-child(4){
  flex:3;
}
.kno-list-body .table > thead > tr > th:nth-child(5){
  flex:1;
}
.kno-list-body .table > thead > tr > th:nth-child(6){
  flex:2;
}
.kno-list-body .table > thead > tr > th,.table > tbody > tr > td{
  padding-top: 10px;
  padding-bottom: 10px;
}
.kno-list-body .table > tbody > tr{
  display: flex;
}
.kno-list-body .table > tbody > tr > td{
  color: black;
  font-weight: 400;
}
.kno-list-body .table > tbody > tr > td:nth-child(1){
  flex:1;
}
.kno-list-body .table > tbody > tr > td:nth-child(2){
  flex:1;
}
.kno-list-body .table > tbody > tr > td:nth-child(3){
  flex:1.5;
}
.kno-list-body .table > tbody > tr > td:nth-child(4){
  flex:3;
}
.kno-list-body .table > tbody > tr > td:nth-child(5){
  flex:1;
}
.kno-list-body .table > tbody > tr > td:nth-child(6){
  flex:2;
}
.kno-list-body>button{
  margin: 14px;
  font-size: 16px;
  color: white;
  background: #578EBE;
}
/* co-manage-kno-add */
.kno-list-inside{
  width: 50%;
}
.kno-list-body .kno-add{
  width: 85%;
}
.kno-list-body .kno-add input[type=text],.kno-list-body .kno-add select,.kno-list-body .kno-add textarea{
  color: black;
  font-weight: 400;
}
.kno-list-body .kno-add input.form-button{
  font-size: 16px;
  color: white;
  background: #578EBE;
}
/* co-manage-kno-show */
.kno-list-body .kno-show{
  padding: 15px;
}
.kno-show-item{
  color: black;
}
.kno-show-item span{
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
  border-bottom: 0.5px solid grey;
}
.kno-show-item > div{
  width: 88%;
  margin-left: 6%;
  font-size: 17px;
  font-weight: 400;
}
.kno-show button{
  margin-top: 10px;
  font-size: 16px;
  color: white;
  background: #578EBE;
}

/* co-manage-que */

.que-list{
  border: 2px solid #578EBE;
  width: 88%;
}
.que-list-heading{
  background: #578EBE;
  padding: 10px;
  display: flex;
  align-items: center;
  color: white;
}
.que-list-heading span{
  line-height: 18px;
  font-size: 16px;
}
.que-list-heading span.break{
  border-left: 1px solid #FFF;
  margin: -12px 10px -12px 10px;
  padding: 30px 0px 10px 0px;
}
.que-list-body form{
  margin: 10px 0 10px 20px;
}
.que-list-body > span{
  color: black;
  margin-left: 12px;
  font-weight: bold;
}
.que-list-body .table{
  width: 98%;
  margin: 10px auto;
}
.que-list-body .table > thead > tr{
  display: flex;
}
.que-list-body .table > thead > tr > th:nth-child(1){
  flex:1;
}
.que-list-body .table > thead > tr > th:nth-child(2){
  flex:1;
}
.que-list-body .table > thead > tr > th:nth-child(3){
  flex:4;
}
.que-list-body .table > thead > tr > th:nth-child(4){
  flex:2;
}
.que-list-body .table > thead > tr > th:nth-child(5){
  flex:2;
}
.que-list-body .table > thead > tr > th{
  color: black;
  font-weight: bold;
  background: white;
}
.que-list-body .table > tbody > tr{
  display: flex;
}
.que-list-body .table > tbody > tr > td{
  color: black;
  font-weight: 400;
}
.que-list-body .table > tbody > tr > td:nth-child(1){
  flex:1;
}
.que-list-body .table > tbody > tr > td:nth-child(2){
  flex:1;
}
.que-list-body .table > tbody > tr > td:nth-child(3){
  flex:4;
}
.que-list-body .table > tbody > tr > td:nth-child(4){
  flex:2;
}
.que-list-body .table > tbody > tr > td:nth-child(5){
  flex:2;
}
.que-list-body>button{
  margin: 14px;
  font-size: 16px;
  color: white;
  background: #578EBE;
}
/* co-manage-que-add */
.que-list-inside{
  width: 50%;
}
.que-list-body .que-add{
  width: 85%;
}
.que-list-body .que-add input.form-button{
  font-size: 16px;
  color: white;
  background: #578EBE;
}

/* co-manage-que-show */
.que-list-body .que-show{
  padding: 15px;
}
.que-show-item{
  color: black;
}
.que-show-item span{
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
  border-bottom: 0.5px solid grey;
}
.que-show-item > div{
  width: 88%;
  margin-left: 6%;
  font-size: 17px;
  font-weight: 400;
}
.que-show button{
  margin-top: 10px;
  font-size: 16px;
  color: white;
  background: #578EBE;
}

/*co-manage-case_list */

.case_list-list{
  border: 2px solid #578EBE;
  width: 60%;
}
.case_list-list-heading{
  background: #578EBE;
  padding: 10px;
  display: flex;
  align-items: center;
  color: white;
}
.case_list-list-heading span{
  line-height: 18px;
  font-size: 16px;
}
.case_list-list-heading span.break{
  border-left: 1px solid #FFF;
  margin: -12px 10px -12px 10px;
  padding: 30px 0px 10px 0px;
}
.case_list-list-body > p{
  margin: 12px 10px 12px 10px;
  line-height: 18px;
  font-size: 16px;
}
.case_list-list-body form{
  margin: 10px 0 10px 20px;
}

.case_list-list-body .table{
  width: 98%;
  margin: 10px auto;
}
.case_list-list-body .table > thead > tr{
  display: flex;
}
.case_list-list-body .table > thead > tr > th:nth-child(1){
  flex:1;
}
.case_list-list-body .table > thead > tr > th:nth-child(2){
  flex:1;
}
.case_list-list-body .table > thead > tr > th:nth-child(3){
  flex:1;
}
.case_list-list-body .table > thead > tr > th:nth-child(4){
  flex:2;
}
.case_list-list-body .table > thead > tr > th:nth-child(5){
  flex:2;
}
.case_list-list-body .table > thead > tr > th{
  color: black;
  font-weight: bold;
  background: white;
}
.case_list-list-body .table > tbody > tr{
  display: flex;
}
.case_list-list-body .table > tbody > tr > td{
  color: black;
  font-weight: 400;
}
.case_list-list-body .table > tbody > tr > td:nth-child(1){
  flex:1;
}
.case_list-list-body .table > tbody > tr > td:nth-child(2){
  flex:1;
}
.case_list-list-body .table > tbody > tr > td:nth-child(3){
  flex:1;
}
.case_list-list-body .table > tbody > tr > td:nth-child(4){
  flex:2;
}
.case_list-list-body .table > tbody > tr > td:nth-child(5){
  flex:2;
}
.case_list-list-body .table > thead > tr > th,.table > tbody > tr > td{
  padding-top: 10px;
  padding-bottom: 10px;
}
.table-ope-icon{
  display: flex;
  justify-content: space-around;
} 
.table-ope-icon a {
  width: 30px;
  height: 30px;
  display: inline-block; 
  padding-top: 8px;
  text-align: center;
  color: white;
}
.table-ope-icon a:nth-child(1){
  background: rgb(64, 181, 173);
}
.table-ope-icon a:nth-child(2){
  background: rgb(91, 192, 222);
}
.table-ope-icon a:nth-child(3){
  background: rgb(226, 90, 89);
}
.table-ope-icon a:nth-child(4){
  background: rgb(153,108,179);
}
.case_list-list-body>button{
  margin: 12px;
  font-size: 16px;
  color: white;
  background: #578EBE;
}

.search-button-flex{
  display: flex;
  align-items: center;
}
.search-button-flex button{
  font-size: 16px;
  color: white;
  background: #578EBE;
  margin-left: 10px;
}
.search-button-flex form{
  flex: 1;
  margin-left: auto;
  margin-right: 10px;
  text-align: right;
}
.search-button-flex form label{
  margin: 0;
}