body{
  font-size: 15px;
}
.topbar{
  height: 80px;
  display: flex;
  flex-direction: row;
}

.topbar_search{
  display: flex;
  align-items: center;
  flex: 1.5;
  background: #D2D8DD;
  font-size: 20px;
  font-weight: 700;
}
.topbar span{
  margin: auto;
}
.topbar_inform{
  display: flex;
  flex: 7;
  align-items: center;
  background: black;
}
.topbar_inform>nav{
  margin: 0 0 0 50px;
}
.topbar_inform a{
  color: white;
  font-weight: 500;
}
.topbar_inform>div{
  margin-left: auto;
  margin-right: 30px;
  color: white;
  font-size: 15px;
  font-weight: 400;
}
.topbar_inform img{
  width: 50px;
  height: 50px;
  margin: 10px 10px;
}
.main_container{
  display: flex;
  height: calc( 100vh - 80px );
  font-weight: 600;
}
.container_left{
  flex: 1.5;
  background: #f0f0f0;
  border: 0.5px solid #00FFFF;
}
.container_left_top{
  height: 81px;
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 0.5px solid #00FFFF;
}
.container_left_top button{
  border-radius: 4px;
  margin: 0;
  margin-left: auto;
  font-size: 15px;
  padding: 14px 30px;
}

.container_left .servicer{
  padding: 15px;
  border-bottom: 0.5px solid #00FFFF;
}

.servicer img{
  width: 50px;
  height: 50px;
  margin: 10px 10px;
  border-radius: 4px;
}

.container_middle{
  display: flex;
  flex-direction: column;
  flex: 5;
  border: 0.5px solid #00FFFF;
}
.container_middle_top{
  height: 81px;
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 0.5px solid #00FFFF;
}
.chatting_content{
    padding: 10px;
    height: 485px;
    overflow-y: auto;
}
p{
    word-break: break-all;
}
.speech_item{
    margin-bottom: 17px;
    display: flex;
}
.speech_item_head_left{
    margin-right: 10px;
}
.speech_item_head_left img{
    height: 45px;
    width: 45px;
    border-radius: 4px;
}
.speech_item_content{
  flex: 1;
  background: linear-gradient(#D3FF93, #EFFFD7);
  margin: 0;
  padding: 5px;
  border-radius: 8px;
  white-space: pre;
}
.chatting_sending{
  display: flex;
  align-items: center;
  flex: 1;
  padding: 5px;
}
.chatting_sending form{
  display: flex;
  width: 100%;
}
.chatting_sending textarea{
  flex: 7;
  height: 100%;
  padding: 5px;
  background: #f0f0f0;
  border-radius: 6px;
}
.chatting_sending div{
  flex: 1;
  margin-left: 15px;
  display: flex;
  align-items: center;
}
.chatting_sending div button{
  margin: 0;
  padding: 15px 35px;
  border-radius: 6px;
}

.container_right{
  flex: 2;
  background: #f0f0f0;
  border: 0.5px solid #00FFFF;
}
.container_right_top{
  height: 81px;
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 0.5px solid #00FFFF;
}
.container_right_main form{
  display: flex;
  margin: 0 0 15px 0;
}
.container_right_main form input{
  border: 0.5px solid #00FFFF;
  border-radius: 6px;
}
.container_right_main form button{
  margin: 0 0 0 5px;
  border-radius: 6px;
}
.container_right_main{
  padding: 18px;
}
.container_right_main .production_pic{
  height: 330px;
  width: 330px;
  margin: auto;
  background: #D2D8DD;
  border-radius: 8px;
}
.container_right_main .production_intro span{
  display: block;
}
.production_intro:first-child{
  font-size: 25px;
}